* {
  margin: 0;
}

html {
  --black: #1f1f23;
  --dark-black: #121214;
  --light-gray: #e0e0e5;
  --gray: #c4c4cc;
  --white: #e1e1e6;

  font: normal 62.5% 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;

  height: 100vh;
}

main {
  background: url('./images/background.svg') no-repeat top/cover;

  width: 100vw;
  height: 100vh;
}

.container {
  max-width: 26.2rem;

  margin-top: 18.4rem;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  color: var(--light-gray);
}

.avatar {
  width: 16rem;

  margin: 0 auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 16rem;
  height: 18.4rem;

  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 2.4rem;

  margin-top: 2.4rem;
}

h1,
p {
  color: var(--white);
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  color: var(--light-gray);
  text-decoration: none;

  margin-top: 0.4rem;
}

a span {
  font: normal 1.6rem 'Roboto', sans-serif;
  color: var(--gray);
}

p {
  font: normal 1.4rem 'Roboto', sans-serif;

  margin-top: 3.2rem;
}

ul {
  display: flex;
  justify-content: center;
  gap: 0.8rem;

  margin-top: 6.4rem;

  list-style: none;
  padding: 0;
}

ul li a {
  display: grid;
  place-items: center;

  background-color: #5c5c5c;

  width: 4.8rem;
  height: 4.8rem;

  margin: 0;
}

@media (min-width: 530px) {
  body {
    background-color: var(--dark-black);
    background-image: url('./images/balls.svg');
    background-repeat: no-repeat;
    background-position-x: center;

    animation: balls-down 2.5s linear;
  }

  main {
    width: 35.8rem;
    height: 54rem;

    background-color: #202024;
    background-image: url('./images/mask.svg');

    position: relative;

    animation: badge-down 1.5s normal;
  }

  main::after {
    content: '';
    background: url('./images/cord.svg') no-repeat;

    width: 8rem;
    height: 77.2rem;

    margin-left: 13.9rem;

    position: absolute;
    top: -74.8rem;
    z-index: 1;
  }

  .container {
    margin-top: 7.2rem;
  }

  ul {
    margin-top: 4rem;
  }

  ul li a:hover {
    background-color: #4f4f4f;
  }

  ul li a i {
    display: grid;
    place-items: center;

    width: 4.8rem;
    height: 4.8rem;
  }

  ul li a i:hover {
    transform: scale(1.1);
  }

  @keyframes badge-down {
    from {
      top: -73rem;
    }
    to {
      top: 0;
    }
  }

  @keyframes balls-down {
    from {
      background-position-y: -30rem;
    }
    to {
      background-position-y: 0;
    }
  }
}
